{% extends 'base.html' %}
{% load static %}
{% block main %}

    <div class="banner">
        <h1>ПРО МЕНЕ</h1>
    </div>

    <br><br>

    <main>
        <section class="photo-with-text">
            <div class="photo-with-text__photo">
                <div class="slideshow">
                    <div class="slideshow-item">
                        <img src={% static "img/me1.jpg" %} alt="Я">
                    </div>
                    <div class="slideshow-item">
                        <img src={% static "img/me2.jpg" %} alt="Я">
                    </div>
                    <div class="slideshow-item">
                        <img src={% static "img/me4.jpg" %} alt="Я">
                    </div>
                    <div class="slideshow-item">
                        <img src={% static "img/me5.jpg" %} alt="Я">
                    </div>
                </div>
            </div>
            
            <div class="photo-with-text__text">
                <ul>
                    {{ contacts.aboutme1|safe }}
                    {{ contacts.aboutme2|safe }}
                    {{ contacts.aboutme3|safe }}
                </ul>
            </div>
        </section>
        {% if user.username == "helentrip" %}
        <div class="section-buttons">
            <a href={% url "change_about_me" %} class="button1">РЕДАГУВАТИ</a>
        </div>
        {% endif %}
    </main>
    
{% endblock %}