{% extends 'base.html' %}
{% load static %}
{% block main %}

    <div class="banner">
        <h1>ДОДАТКОВІ ПОСЛУГИ</h1>
    </div>

    <br><br>

    <main>
        {% comment %} <section>
            <div class="extra">

                <div class="extra__block">
                    <div class="extra__header">
                        Коли організовуєш відпочинок сам
                        <img src={% static "icons/no.svg" %} alt="НІ">
                    </div>
                </div>
                <div class="extra__block">
                    <div class="extra__header">
                        Коли тобі допомагає професіонал
                        <img src={% static "icons/yes.svg" %} alt="ТАК">
                    </div>
                </div>

                <div class="extra__block">
                    <img src={% static "icons/no.svg" %} alt="НІ">
                    <span>Витрачаєш тиждень на пошук готелю</span>
                </div>
                <div class="extra__block">
                    <img src={% static "icons/yes.svg" %} alt="ТАК">
                    <span>Швидко отримуєш підбірку найкращих готелів за твоїм бюджетом</span>
                </div>

                <div class="extra__block">
                    <img src={% static "icons/no.svg" %} alt="НІ">
                    <span>Годинами читаєш відгуки в інтернеті</span>
                </div>
                <div class="extra__block">
                    <img src={% static "icons/yes.svg" %} alt="ТАК">
                    <span>Отримуєш реальні фото та відео з готелів</span>
                </div>

                <div class="extra__block">
                    <img src={% static "icons/no.svg" %} alt="НІ">
                    <span>Тиждень вивчаєш правила в'їзду до країни</span>
                </div>
                <div class="extra__block">
                    <img src={% static "icons/yes.svg" %} alt="ТАК">
                    <span>Отримуєш повну інформацію про всі нюанси</span>
                </div>

                <div class="extra__block">
                    <img src={% static "icons/no.svg" %} alt="НІ">
                    <span>Сам шукаєш транспорт, витрачаєш час на бронювання квитків</span>
                </div>
                <div class="extra__block">
                    <img src={% static "icons/yes.svg" %} alt="ТАК">
                    <span>Отримуєш готові квитки на комфортні місця</span>
                </div>

            </div>

            <div class="explanation">
                <h2>ІНДИВІДУАЛЬНІ ПОДОРОЖІ</h2>
                <img class="card__ico" src="{% static "icons/route2.svg" %}" alt="Індивідуальні подорожі">
                <h3>від 2 000 грн</h3>
                <h3>ЯКІ ПЕРЕВАГИ МАЄ ПОЇЗДКА ПІД КЛЮЧ?</h3>
                <ol>
                    <li>
                        ЗРУЧНІСТЬ
                        <br>
                        Всі деталі поїздки, включаючи транспорт, проживання, екскурсії та харчування, організовані за вашою мінімальною участю. Не потрібно турбуватися про пошук чи плануваннях.
                    </li>
                    <li>
                        ЕКОНОМІЯ ЧАСУ
                        <br>
                        Завдяки нам Ви не будете витрачати свій час на пошук інформації та порівняння цін. Все це вже зроблено професіоналами.
                    </li>
                    <li>
                        ІНДИВІДУАЛЬНИЙ ПІДХІД
                        <br>
                        Буде запропоновано вдосталь варіантів. Ви зможете налаштувати тур під свої уподобання, особливості, включаючи вибір маршруту, активності та рівень комфорту. 
                    </li>
                    <li>
                        ПІДТРИМКА
                        <br>
                        Будемо з вами на зв’язку 24/7, щоб допомогти у будь-якій ситуації.
                    </li>
                    <li>
                        ГНУЧКІСТЬ
                        <br>
                        У разі необхідності ми можемо вносити зміни в програму або налаштовувати її під час подорожі.
                    </li>
                    <li>
                        Поїздки під ключ ідеально підходять для тих, хто хоче насолоджуватися поїздкою без зайвого стресу та клопоту. 
                        Якщо у Вас є додаткові запитання або потрібна порада щодо конкретних варіантів, буду рада допомогти!
                    </li>
                </ol>
                <h2>ДОПОМОГА З БРОНЮВАННЯМ</h2>
                <img class="card__ico" src="{% static "icons/ticket2.svg" %}" alt="Допомога з бронюванням">
                <h3>від 1 000 грн<h3>
                <p>Допомога з бронюванням</p>

                
            </div>
        </section> {% endcomment %}
        <section>
            <div class="tab-container">
                <div class="tab">
                    <div class="tab-content" id="content-1">
                        <h2>ІНДИВІДУАЛЬНІ ПОДОРОЖІ</h2>
                        <img class="tab-content__ico" src="{% static "icons/route2.svg" %}" alt="Індивідуальні подорожі">
                        <br>
                        <h3>від 2 000 грн</h3>
                        <h3>ЯКІ ПЕРЕВАГИ МАЄ ПОЇЗДКА ПІД КЛЮЧ?</h3>
                        Допомога у створенні індивідуальної подорожі завдяки кількома аспектам:
                        <br><br>
                        Персоналізований підхід: <br>
                        врахую всі ваші побажання, інтереси та бюджет, щоб створити унікальний маршрут, який відповідатиме вашим потребам.
                        <br><br>
                        Організація трансферів та екскурсій: <br>
                        бронюю трансфери, екскурсії та інші послуги, що зробить вашу подорож більш комфортною.
                        <br><br>
                        Досвід і рекомендації: <br>
                        поділюся своїм досвідом та пораджу найкращі місця для відвідування, ресторани та розваги в обраному напрямку.
                        <br><br>
                        Документація: <br>
                        допоможу з оформленням необхідних документів, наприклад страховки.
                        <br><br>
                        Культурні особливості: <br>
                        надам інформацію про місцеві традиції, звичаї та етикет, що допоможе уникнути незручностей під час подорожі.
                        <br><br>
                        Індивідуальні інтереси: <br>
                        якщо у вас є специфічні інтереси (наприклад, гастрономічні тури, еко-туризм або історичні маршрути) - створю маршрут, що максимально відповідатиме вашим вподобанням.
                        <br><br>
                        Безпека і підтримка: <br>
                        у разі виникнення кризових ситуацій - надам актуальну інформацію та рекомендації щодо безпеки.
                        <br><br>
                        Місцеві гіди: <br>
                        організую зустрічі з місцевими гідами, що дозволить вам краще зрозуміти культуру та традиції регіону.
                        <br><br>
                        Тематичні подорожі: <br>
                        допоможу організувати тематичні подорожі (наприклад, винні тури, фестивалі мистецтв), що додає унікальності вашій поїздці.
                        <br><br>
                        Післяпродажне обслуговування: <br>
                        після завершення подорожі поспілкуємося і ви розповісте про ваш досвід і надам рекомендації для майбутніх поїздок.
                        <br><br>
                        Віртуальні консультації:<br>
                        у сучасному світі можемо провести онлайн-консультації, що дозволить у комфортних умовах спланувати подорож навіть з дому.
                        <br><br>
                        ПІДТРИМКА ПІД ЧАС ПОДОРОЖІ
                        <br><br>
                        Завдяки цим перевагам, співпраця з турагентом може зробити вашу подорож більш приємною, безпечною та організованою.
                    </div>

                    <div class="tab-content" id="content-2">
                        <h2>КОНСУЛЬТАЦІЇ</h2>
                        <img class="tab-content__ico" src="{% static "icons/consult.svg" %}" alt="Консультації">
                        <br>
                        <h3>500 грн за 1 годину<h3>
                        <h3>ЩО ВИ ОТРИМАЄТЕ ВІД КОНСУЛЬТАЦІЇ</h3>
                        Надам консультації щоб допомогти Вам спланувати ідеальну подорож.

                        Бюджет: <br>
                        обговоримо бюджет аби підберемо оптимальні варіанти подорожі, які відповідають Вашим можливостям і бажанням.
                        <br><br>
                        Інформаційність: <br>
                        надам інформацію про популярні та менш відомі напрямки, враховуючи пору року, погоду та особливості кожного місця.
                        <br><br>
                        Транспорт: <br>
                        проконсультую щодо варіантів транспорту (літак, потяг, автомобіль) та допоможу вибрати найбільш зручний і економний спосіб досягнення місця призначення.
                        <br><br>
                        Розміщення: <br>
                        пораджу різні варіанти розміщення (готелі, апартаменти, курорти), враховуючи побажання щодо комфорту та послуг.
                        <br><br>
                        Екскурсії: <br>
                        запропоную різноманітні екскурсії, активності та розваги на місці, що допоможе зробити подорож більш цікавою та насиченою.
                        <br><br>
                        Документи та візи: <br>
                        розповім щодо необхідних документів для подорожі, включаючи візи, страховки та медичні вимоги.
                        <br><br>
                        Безпека та культурні особливості: <br>
                        пораджу щодо безпеки в країні призначення, культурні особливості та місцеві звичаї, що допоможе уникнути непорозумінь.
                        <br><br>
                        Рекомендації щодо харчування: <br>
                        розповім щодо місцевої кухні, ресторанів та кафе - це зробить гастрономічну частину подорожі більш приємною.
                        <br><br>
                        Завдяки комплексу інформації, Ви зможе відчути себе впевнено і комфортно під час планування своєї подорожі.
                    </div>

                    <div class="tab-content" id="content-3">
                        <h2>ОРГАНІЗАЦІЯ ТРАНСФЕРУ</h2>
                        <img class="tab-content__ico" src="{% static "icons/bus.svg" %}" alt="Консультації">
                        <br>
                        <h3>500 грн<h3>
                        <h3>НАВІЩО ЦЕ ВАМ</h3>
                        Організація трансферу є важливим етапом підготовки до подорожі, оскільки вона забезпечує зручний і безпечний переїзд між готелем, подорож до аеропорту, екскурсії та іншими місцями призначення. 
                        <br><br>
                        КИЇВ та ОДЕСА <br>
                        Завдяки широкому асортименту як автобусів так і легкових автомобілів, запропоную Вам різні варіанти трансферу. Почасова оренда автомобілів, екскурсійний автобусний супровід та інше за привабливими цінами.
                        <br><br>
                        Візьму на себе комунікацію із водієм від моменту де зустрічатися (наприклад, в аеропорту, біля станції метро та ін.), до повної висадки. 
                        <br><br>
                        Завдяки цій послузі, ви зможете забезпечити гарантований і безпроблемний процес організації трансферу, оренди автобусів та легкових авто, що зробить подорож комфортнішою та приємнішою для Вас.
                    </div>

                    <div class="tab-content" id="content-4">
                        <h2>ДОПОМОГА З БРОНЮВАННЯМ</h2>
                        <img class="tab-content__ico" src="{% static "icons/hotel.svg" %}" alt="Консультації">
                        <br>
                        <h3>від 500 грн<h3>
                        <h3>ЩО ВИ ОТРИМАЄТЕ</h3>
                        Бронювання через турагента спростить процес планування та організацію відпустки, гарантує безпеку вашим коштам у правильності виконання умов.
                        <br><br>
                        Авіаквитки: <br>
                        бронювання авіаквитків з урахуванням графіка польотів, цін і зручності перельотів.
                        <br><br>
                        Готелі та проживання: <br>
                        допомога з бронюванням номерів, враховуючи побажання щодо зручності та бюджету.
                        <br><br>
                        Трансфер: <br>
                        трансфери з аеропорту до готелю.
                        <br><br>
                        Документи: <br>
                        страхування для подорожей.
                        <br><br>
                        Ця послуга забезпечує комфортне та безпроблемне бронювання подорожей, що робить процес планування більш приємним і менш стресовим для клієнтів.
                    </div>

                    

                    <div class="tab-nav">
                        <input checked id="tab-btn-1" name="tab-btn" type="radio" value="">
                        <label for="tab-btn-1">ІНДИВІДУАЛЬНІ ПОДОРОЖІ</label>

                        <input id="tab-btn-2" name="tab-btn" type="radio" value="">
                        <label for="tab-btn-2">КОНСУЛЬТАЦІЇ</label>

                        <input id="tab-btn-3" name="tab-btn" type="radio" value="">
                        <label for="tab-btn-3">ОРГАНІЗАЦІЯ ТРАНСФЕРУ</label>

                        <input id="tab-btn-4" name="tab-btn" type="radio" value="">
                        <label for="tab-btn-4">ДОПОМОГА З БРОНЮВАННЯМ</label>
                        
                    </div>
                </div>
            </div>
        </section>
    </main>
    
{% endblock %}