{% extends 'base.html' %}
{% load static %}
{% block main %}

    <div class="banner">
        <h1>ДОДАТКОВІ ПОСЛУГИ</h1>
    </div>

    <br><br>

    <main>
        {% comment %} <section>
            <div class="extra">

                <div class="extra__block">
                    <div class="extra__header">
                        Коли організовуєш відпочинок сам
                        <img src={% static "icons/no.svg" %} alt="НІ">
                    </div>
                </div>
                <div class="extra__block">
                    <div class="extra__header">
                        Коли тобі допомагає професіонал
                        <img src={% static "icons/yes.svg" %} alt="ТАК">
                    </div>
                </div>

                <div class="extra__block">
                    <img src={% static "icons/no.svg" %} alt="НІ">
                    <span>Витрачаєш тиждень на пошук готелю</span>
                </div>
                <div class="extra__block">
                    <img src={% static "icons/yes.svg" %} alt="ТАК">
                    <span>Швидко отримуєш підбірку найкращих готелів за твоїм бюджетом</span>
                </div>

                <div class="extra__block">
                    <img src={% static "icons/no.svg" %} alt="НІ">
                    <span>Годинами читаєш відгуки в інтернеті</span>
                </div>
                <div class="extra__block">
                    <img src={% static "icons/yes.svg" %} alt="ТАК">
                    <span>Отримуєш реальні фото та відео з готелів</span>
                </div>

                <div class="extra__block">
                    <img src={% static "icons/no.svg" %} alt="НІ">
                    <span>Тиждень вивчаєш правила в'їзду до країни</span>
                </div>
                <div class="extra__block">
                    <img src={% static "icons/yes.svg" %} alt="ТАК">
                    <span>Отримуєш повну інформацію про всі нюанси</span>
                </div>

                <div class="extra__block">
                    <img src={% static "icons/no.svg" %} alt="НІ">
                    <span>Сам шукаєш транспорт, витрачаєш час на бронювання квитків</span>
                </div>
                <div class="extra__block">
                    <img src={% static "icons/yes.svg" %} alt="ТАК">
                    <span>Отримуєш готові квитки на комфортні місця</span>
                </div>

            </div>
        </section> {% endcomment %}
        <section class="extra-big">
            <div class="tab-container">
                <div class="tab">
                    <div class="tab-content" id="content-1">
                        <h2>ІНДИВІДУАЛЬНІ ПОДОРОЖІ</h2>
                        <img class="tab-content__ico" src="{% static "icons/route2.svg" %}" alt="Індивідуальні подорожі">
                        <br>
                        <h3 class="rounded">від 2 000 грн</h3>
                        <h3>ЯКІ ПЕРЕВАГИ МАЄ ПОЇЗДКА ПІД КЛЮЧ?</h3>
                        Допомога у створенні індивідуальної подорожі завдяки кількома аспектам:

                        <br><br>

                        <div class="big-container">
                            <img class="mini-ico" src={% static "icons/man.svg" %} alt="LOGO">
                            <div class="sub-container">
                                <b>Персоналізований підхід:</b> <br>
                                врахую всі ваші побажання, інтереси та бюджет, щоб створити унікальний маршрут, який відповідатиме вашим потребам.
                                <br><br>
                                <b>Досвід і рекомендації:</b> <br>
                                поділюся своїм досвідом та пораджу найкращі місця для відвідування, ресторани та розваги в обраному напрямку.
                            </div>
                        </div>
                        
                        <br><br>

                        <div class="big-container">
                            <img class="mini-ico" src={% static "icons/van.svg" %} alt="LOGO">
                            <div class="sub-container">
                                <b>Організація трансферів та екскурсій:</b> <br>
                                бронюю трансфери, екскурсії та інші послуги, що зробить вашу подорож більш комфортною.
                                <br><br>
                                <b>Документація:</b> <br>
                                допоможу з оформленням необхідних документів, наприклад страховки.
                            </div>
                        </div>

                        <br><br>

                        <div class="big-container">
                            <img class="mini-ico" src={% static "icons/culture.svg" %} alt="LOGO">
                            <div class="sub-container">
                                <b>Культурні особливості:</b> <br>
                                надам інформацію про місцеві традиції, звичаї та етикет, що допоможе уникнути незручностей під час подорожі.
                                <br><br>
                                <b>Індивідуальні інтереси:</b> <br>
                                якщо у вас є специфічні інтереси (наприклад, гастрономічні тури, еко-туризм або історичні маршрути) - створю маршрут, що максимально відповідатиме вашим вподобанням.
                            </div>
                        </div>

                        <br><br>

                        <div class="big-container">
                            <img class="mini-ico" src={% static "icons/mobile.svg" %} alt="LOGO">
                            <div class="sub-container">
                                <b>Безпека і підтримка:</b> <br>
                                у разі виникнення кризових ситуацій - надам актуальну інформацію та рекомендації щодо безпеки.
                                <br><br>
                                <b>Місцеві гіди:</b> <br>
                                організую зустрічі з місцевими гідами, що дозволить вам краще зрозуміти культуру та традиції регіону.
                            </div>
                        </div>  

                        <br><br>

                        <div class="big-container">
                            <img class="mini-ico" src={% static "icons/wine.svg" %} alt="LOGO">
                            <div class="sub-container">
                                <b>Тематичні подорожі:</b> <br>
                                допоможу організувати тематичні подорожі (наприклад, винні тури, фестивалі мистецтв), що додає унікальності вашій поїздці.
                                <br><br>
                                <b>Післяпродажне обслуговування:</b> <br>
                                після завершення подорожі поспілкуємося і ви розповісте про ваш досвід і надам рекомендації для майбутніх поїздок.
                            </div>
                        </div>
                        
                        <br><br>

                        <div class="big-container">
                            <img class="mini-ico" src={% static "icons/support.svg" %} alt="LOGO">
                            <div class="sub-container">
                                <b>Віртуальні консультації:</b> <br>
                                у сучасному світі можемо провести онлайн-консультації, що дозволить у комфортних умовах спланувати подорож навіть з дому.
                                <br><br>
                                <b>ПІДТРИМКА ПІД ЧАС ПОДОРОЖІ</b>
                                <br><br>
                                Завдяки цим перевагам, співпраця з турагентом може зробити вашу подорож більш приємною, безпечною та організованою.
                            </div>
                        </div>
                            
                        <br><br>

                        <div class="button booking">ЗАБРОНЮВАТИ</div>
                        
                    </div>

                    <div class="tab-content" id="content-2">
                        <h2>КОНСУЛЬТАЦІЇ</h2>
                        <img class="tab-content__ico" src="{% static "icons/consult.svg" %}" alt="Консультації">
                        <br>
                        <h3 class="rounded">500 грн за 1 годину<h3>
                        <h3>ЩО ВИ ОТРИМАЄТЕ ВІД КОНСУЛЬТАЦІЇ</h3>
                        Надам консультації щоб допомогти Вам спланувати ідеальну подорож.

                        <br><br>
                        
                        <div class="big-container">
                            <img class="mini-ico" src={% static "icons/money.svg" %} alt="LOGO">
                            <div class="sub-container">
                                <b>Бюджет:</b> <br>
                                обговоримо бюджет аби підберемо оптимальні варіанти подорожі, які відповідають Вашим можливостям і бажанням.
                                <br><br>
                                <b>Інформаційність:</b> <br>
                                надам інформацію про популярні та менш відомі напрямки, враховуючи пору року, погоду та особливості кожного місця.
                            </div>
                        </div>

                        <br><br>

                        <div class="big-container">
                            <img class="mini-ico" src={% static "icons/van.svg" %} alt="LOGO">
                            <div class="sub-container">
                                <b>Транспорт:</b> <br>
                                проконсультую щодо варіантів транспорту (літак, потяг, автомобіль) та допоможу вибрати найбільш зручний і економний спосіб досягнення місця призначення.
                                <br><br>
                                <b>Розміщення:</b> <br>
                                пораджу різні варіанти розміщення (готелі, апартаменти, курорти), враховуючи побажання щодо комфорту та послуг.
                            </div>
                        </div>

                        <br><br>

                        <div class="big-container">
                            <img class="mini-ico" src={% static "icons/route2.svg" %} alt="LOGO">
                            <div class="sub-container">
                                <b>Екскурсії:</b> <br>
                                запропоную різноманітні екскурсії, активності та розваги на місці, що допоможе зробити подорож більш цікавою та насиченою.
                                <br><br>
                                <b>Документи та візи:</b> <br>
                                розповім щодо необхідних документів для подорожі, включаючи візи, страховки та медичні вимоги.
                            </div>
                        </div>

                        <br><br>

                        <div class="big-container">
                            <img class="mini-ico" src={% static "icons/food.svg" %} alt="LOGO">
                            <div class="sub-container">
                                <b>Рекомендації щодо харчування:</b> <br>
                                розповім щодо місцевої кухні, ресторанів та кафе - це зробить гастрономічну частину подорожі більш приємною.
                                <br><br>
                                <b>Безпека та культурні особливості:</b> <br>
                                пораджу щодо безпеки в країні призначення, культурні особливості та місцеві звичаї, що допоможе уникнути непорозумінь.
                            </div>
                        </div>

                        <br><br>

                        Завдяки комплексу інформації, Ви зможе відчути себе впевнено і комфортно під час планування своєї подорожі.
                        <br><br>
                        <div class="button booking">ЗАБРОНЮВАТИ</div>
                    </div>

                    <div class="tab-content" id="content-3">
                        <h2>ОРГАНІЗАЦІЯ ТРАНСФЕРУ</h2>
                        <img class="tab-content__ico" src="{% static "icons/bus.svg" %}" alt="Консультації">
                        <br>
                        <h3 class="rounded">500 грн<h3>
                        <h3>ЧОМУ ЦЕ ЗРУЧНО</h3>
                        Організація трансферу є важливим етапом підготовки до подорожі, оскільки вона забезпечує зручний і безпечний переїзд між готелем, подорож до аеропорту, екскурсії та іншими місцями призначення. 
                        <br><br>
                        <strong>КИЇВ та ОДЕСА</strong> 
                        <br><br>
                        Завдяки широкому асортименту як автобусів так і легкових автомобілів, запропоную Вам різні варіанти трансферу. Почасова оренда автомобілів, екскурсійний автобусний супровід та інше за привабливими цінами.
                        <br><br>
                        Візьму на себе комунікацію із водієм від моменту де зустрічатися (наприклад, в аеропорту, біля станції метро та ін.), до повної висадки. 
                        <br><br>
                        Завдяки цій послузі, ви зможете забезпечити гарантований і безпроблемний процес організації трансферу, оренди автобусів та легкових авто, що зробить подорож комфортнішою та приємнішою для Вас.
                        <br><br>
                        <div class="button booking">ЗАБРОНЮВАТИ</div>
                    </div>

                    <div class="tab-content" id="content-4">
                        <h2>ДОПОМОГА З БРОНЮВАННЯМ</h2>
                        <img class="tab-content__ico" src="{% static "icons/hotel.svg" %}" alt="Консультації">
                        <br>
                        <h3 class="rounded">від 500 грн<h3>
                        <h3>ЩО ВИ ОТРИМАЄТЕ</h3>
                        Бронювання через турагента спростить процес планування та організацію відпустки, гарантує безпеку вашим коштам у правильності виконання умов.
                        
                        <br><br>
                        
                        <div class="big-container">
                            <img class="mini-ico" src={% static "icons/ticket2.svg" %} alt="LOGO">
                            <div class="sub-container">
                                Авіаквитки: <br>
                                бронювання авіаквитків з урахуванням графіка польотів, цін і зручності перельотів.
                            </div>
                        </div>

                        <br><br>

                        <div class="big-container">
                            <img class="mini-ico" src={% static "icons/hotel.svg" %} alt="LOGO">
                            <div class="sub-container">
                                Готелі та проживання: <br>
                                допомога з бронюванням номерів, враховуючи побажання щодо зручності та бюджету.
                            </div>
                        </div>

                        <br><br>
                        <div class="big-container">
                            <img class="mini-ico" src={% static "icons/van.svg" %} alt="LOGO">
                            <div class="sub-container">
                                Трансфер: <br>
                                трансфери з аеропорту до готелю.
                            </div>
                        </div>

                        <br><br>

                        <div class="big-container">
                            <img class="mini-ico" src={% static "icons/passport.svg" %} alt="LOGO">
                            <div class="sub-container">
                                Документи: <br>
                                страхування для подорожей.
                            </div>
                        </div>
                        <br><br>

                        Ця послуга забезпечує комфортне та безпроблемне бронювання подорожей, що робить процес планування більш приємним і менш стресовим для клієнтів.
                        <br><br>
                        <div class="button booking">ЗАБРОНЮВАТИ</div>
                    </div>

                    

                    <div class="tab-nav">
                        <input checked id="tab-btn-1" name="tab-btn" type="radio" value="">
                        <label for="tab-btn-1">ІНДИВІДУАЛЬНІ ПОДОРОЖІ</label>

                        <input id="tab-btn-2" name="tab-btn" type="radio" value="">
                        <label for="tab-btn-2">КОНСУЛЬТАЦІЇ</label>

                        <input id="tab-btn-3" name="tab-btn" type="radio" value="">
                        <label for="tab-btn-3">ОРГАНІЗАЦІЯ ТРАНСФЕРУ</label>

                        <input id="tab-btn-4" name="tab-btn" type="radio" value="">
                        <label for="tab-btn-4">ДОПОМОГА З БРОНЮВАННЯМ</label>
                    </div>
                </div>
            </div>
        </section>

        <section class="extra-small">
            <div class="accordion__wrapper">
                <button class="accordion">ІНДИВІДУАЛЬНІ ПОДОРОЖІ</button>
                <div class="panel">
                    <p class="accordion__p">
                        <h2>ІНДИВІДУАЛЬНІ ПОДОРОЖІ</h2>
                        <img class="tab-content__ico" src="{% static "icons/route2.svg" %}" alt="Індивідуальні подорожі">
                        <br>
                        <h3 class="rounded">від 2 000 грн</h3>
                        <h3>ЯКІ ПЕРЕВАГИ МАЄ ПОЇЗДКА ПІД КЛЮЧ?</h3>
                        Допомога у створенні індивідуальної подорожі завдяки кількома аспектам:
                        <br><br>
                        <img class="mini-icon" src={% static "icons/man.svg" %} alt="LOGO">
                        <b>Персоналізований підхід:</b> <br>
                        врахую всі ваші побажання, інтереси та бюджет, щоб створити унікальний маршрут, який відповідатиме вашим потребам.
                        <br><br>
                        <b>Досвід і рекомендації:</b> <br>
                        поділюся своїм досвідом та пораджу найкращі місця для відвідування, ресторани та розваги в обраному напрямку.
                        <br><br>
                        <img class="mini-icon" src={% static "icons/van.svg" %} alt="LOGO">
                        <b>Організація трансферів та екскурсій:</b> <br>
                        бронюю трансфери, екскурсії та інші послуги, що зробить вашу подорож більш комфортною.
                        <br><br>
                        <b>Документація:</b> <br>
                        допоможу з оформленням необхідних документів, наприклад страховки.
                        <br><br>
                        <img class="mini-icon" src={% static "icons/culture.svg" %} alt="LOGO">
                        <b>Культурні особливості:</b> <br>
                        надам інформацію про місцеві традиції, звичаї та етикет, що допоможе уникнути незручностей під час подорожі.
                        <br><br>
                        <b>Індивідуальні інтереси:</b> <br>
                        якщо у вас є специфічні інтереси (наприклад, гастрономічні тури, еко-туризм або історичні маршрути) - створю маршрут, що максимально відповідатиме вашим вподобанням.
                        <br><br>
                        <img class="mini-icon" src={% static "icons/mobile.svg" %} alt="LOGO">
                        <b>Безпека і підтримка:</b> <br>
                        у разі виникнення кризових ситуацій - надам актуальну інформацію та рекомендації щодо безпеки.
                        <br><br>
                        <b>Місцеві гіди:</b> <br>
                        організую зустрічі з місцевими гідами, що дозволить вам краще зрозуміти культуру та традиції регіону.
                        <br><br>
                        <img class="mini-icon" src={% static "icons/wine.svg" %} alt="LOGO">
                        <b>Тематичні подорожі:</b> <br>
                        допоможу організувати тематичні подорожі (наприклад, винні тури, фестивалі мистецтв), що додає унікальності вашій поїздці.
                        <br><br>
                        <b>Післяпродажне обслуговування:</b> <br>
                        після завершення подорожі поспілкуємося і ви розповісте про ваш досвід і надам рекомендації для майбутніх поїздок.
                        <br><br>
                        <img class="mini-icon" src={% static "icons/support.svg" %} alt="LOGO">
                        <b>Віртуальні консультації:</b> <br>
                        у сучасному світі можемо провести онлайн-консультації, що дозволить у комфортних умовах спланувати подорож навіть з дому.
                        <br><br>
                        <b>ПІДТРИМКА ПІД ЧАС ПОДОРОЖІ</b>
                        <br><br>
                        Завдяки цим перевагам, співпраця з турагентом може зробити вашу подорож більш приємною, безпечною та організованою.
                    </p>
                </div>
            </div>
            <div class="accordion__wrapper">
                <button class="accordion">КОНСУЛЬТАЦІЇ</button>
                <div class="panel">
                    <p class="accordion__p">
                        <h2>КОНСУЛЬТАЦІЇ</h2>
                        <img class="tab-content__ico" src="{% static "icons/consult.svg" %}" alt="Консультації">
                        <br>
                        <h3 class="rounded">500 грн за 1 годину<h3>
                        <h3>ЩО ВИ ОТРИМАЄТЕ ВІД КОНСУЛЬТАЦІЇ</h3>
                        Надам консультації щоб допомогти Вам спланувати ідеальну подорож.
                        <br><br>
                        <img class="mini-icon" src={% static "icons/money.svg" %} alt="LOGO">
                        <b>Бюджет:</b> <br>
                        обговоримо бюджет аби підберемо оптимальні варіанти подорожі, які відповідають Вашим можливостям і бажанням.
                        <br><br>
                        <b>Інформаційність:</b> <br>
                        надам інформацію про популярні та менш відомі напрямки, враховуючи пору року, погоду та особливості кожного місця.
                        <br><br>
                        <img class="mini-icon" src={% static "icons/van.svg" %} alt="LOGO">
                        <b>Транспорт:</b> <br>
                        проконсультую щодо варіантів транспорту (літак, потяг, автомобіль) та допоможу вибрати найбільш зручний і економний спосіб досягнення місця призначення.
                        <br><br>
                        <b>Розміщення:</b> <br>
                        пораджу різні варіанти розміщення (готелі, апартаменти, курорти), враховуючи побажання щодо комфорту та послуг.
                        <br><br>
                        <img class="mini-icon" src={% static "icons/route2.svg" %} alt="LOGO">
                        <b>Екскурсії:</b> <br>
                        запропоную різноманітні екскурсії, активності та розваги на місці, що допоможе зробити подорож більш цікавою та насиченою.
                        <br><br>
                        <b>Документи та візи:</b> <br>
                        розповім щодо необхідних документів для подорожі, включаючи візи, страховки та медичні вимоги.
                        <br><br>
                        <img class="mini-icon" src={% static "icons/food.svg" %} alt="LOGO">
                        <b>Рекомендації щодо харчування:</b> <br>
                        розповім щодо місцевої кухні, ресторанів та кафе - це зробить гастрономічну частину подорожі більш приємною.
                        <br><br>
                        <b>Безпека та культурні особливості:</b> <br>
                        пораджу щодо безпеки в країні призначення, культурні особливості та місцеві звичаї, що допоможе уникнути непорозумінь.
                        <br><br>
                        Завдяки комплексу інформації, Ви зможе відчути себе впевнено і комфортно під час планування своєї подорожі.
                    </p>
                </div>
            </div>
            <div class="accordion__wrapper">
                <button class="accordion">ОРГАНІЗАЦІЯ ТРАНСФЕРУ</button>
                <div class="panel">
                    <p class="accordion__p">
                        <h2>ОРГАНІЗАЦІЯ ТРАНСФЕРУ</h2>
                        <img class="tab-content__ico" src="{% static "icons/bus.svg" %}" alt="Консультації">
                        <br>
                        <h3 class="rounded">500 грн<h3>
                        <h3>ЧОМУ ЦЕ ЗРУЧНО</h3>
                        Організація трансферу є важливим етапом підготовки до подорожі, оскільки вона забезпечує зручний і безпечний переїзд між готелем, подорож до аеропорту, екскурсії та іншими місцями призначення. 
                        <br><br>
                        КИЇВ та ОДЕСА <br>
                        Завдяки широкому асортименту як автобусів так і легкових автомобілів, запропоную Вам різні варіанти трансферу. Почасова оренда автомобілів, екскурсійний автобусний супровід та інше за привабливими цінами.
                        <br><br>
                        Візьму на себе комунікацію із водієм від моменту де зустрічатися (наприклад, в аеропорту, біля станції метро та ін.), до повної висадки. 
                        <br><br>
                        Завдяки цій послузі, ви зможете забезпечити гарантований і безпроблемний процес організації трансферу, оренди автобусів та легкових авто, що зробить подорож комфортнішою та приємнішою для Вас.
                    </p>
                </div>
            </div>
            <div class="accordion__wrapper">
                <button class="accordion">ДОПОМОГА З БРОНЮВАННЯМ</button>
                <div class="panel">
                    <p class="accordion__p">
                        <h2>ДОПОМОГА З БРОНЮВАННЯМ</h2>
                        <img class="tab-content__ico" src="{% static "icons/hotel.svg" %}" alt="Консультації">
                        <br>
                        <h3 class="rounded">від 500 грн<h3>
                        <h3>ЩО ВИ ОТРИМАЄТЕ</h3>
                        Бронювання через турагента спростить процес планування та організацію відпустки, гарантує безпеку вашим коштам у правильності виконання умов.
                        <br><br>
                        <img class="mini-icon" src={% static "icons/ticket2.svg" %} alt="LOGO">
                        Авіаквитки: <br>
                        бронювання авіаквитків з урахуванням графіка польотів, цін і зручності перельотів.
                        <br><br>
                        <img class="mini-icon" src={% static "icons/hotel.svg" %} alt="LOGO">
                        Готелі та проживання: <br>
                        допомога з бронюванням номерів, враховуючи побажання щодо зручності та бюджету.
                        <br><br>
                        <img class="mini-icon" src={% static "icons/van.svg" %} alt="LOGO">
                        Трансфер: <br>
                        трансфери з аеропорту до готелю.
                        <br><br>
                        <img class="mini-icon" src={% static "icons/passport.svg" %} alt="LOGO">
                        Документи: <br>
                        страхування для подорожей.
                        <br><br>
                        Ця послуга забезпечує комфортне та безпроблемне бронювання подорожей, що робить процес планування більш приємним і менш стресовим для клієнтів.
                    </p>
                </div>
            </div>
        </section>
    </main>

    <div class="booking-form">
        <img class="cross1" src={% static "icons/cross_white.svg" %} alt="ЗАКРИТИ">
        <img class="main-menu__logo1" src={% static "icons/Logo_Semi_Transparent.svg" %} alt="LOGO">
        <img class="main-menu__logo2" src={% static "icons/Logo_Semi_Transparent.svg" %} alt="LOGO">
        <img class="main-menu__logo3" src={% static "icons/Logo_Semi_Transparent.svg" %} alt="LOGO">
        <img class="main-menu__logo4" src={% static "icons/Logo_Semi_Transparent.svg" %} alt="LOGO">
        <img class="main-menu__logo5" src={% static "icons/Logo_Semi_Transparent.svg" %} alt="LOGO">
        <img class="main-menu__logo6" src={% static "icons/Logo_Semi_Transparent.svg" %} alt="LOGO">
        <img class="main-menu__logo7" src={% static "icons/Logo_Semi_Transparent.svg" %} alt="LOGO">
        <img class="main-menu__logo8" src={% static "icons/Logo_Semi_Transparent.svg" %} alt="LOGO">
        <img class="main-menu__logo9" src={% static "icons/Logo_Semi_Transparent.svg" %} alt="LOGO">
        <img class="main-menu__logo10" src={% static "icons/Logo_Semi_Transparent.svg" %} alt="LOGO">
        <img class="main-menu__logo11" src={% static "icons/Logo_Semi_Transparent.svg" %} alt="LOGO">
        <img class="main-menu__logo12" src={% static "icons/Logo_Semi_Transparent.svg" %} alt="LOGO">
        <img class="main-menu__logo13" src={% static "icons/Logo_Semi_Transparent.svg" %} alt="LOGO">
        <img class="main-menu__logo14" src={% static "icons/Logo_Semi_Transparent.svg" %} alt="LOGO">
        <img class="main-menu__logo15" src={% static "icons/Logo_Semi_Transparent.svg" %} alt="LOGO">
        <!-- <img class="main-menu__logo16" src={% static "icons/Logo_Semi_Transparent.svg" %} alt="LOGO"> -->
        <img class="main-menu__logo17" src={% static "icons/Logo_Semi_Transparent.svg" %} alt="LOGO">
        <img class="main-menu__logo18" src={% static "icons/Logo_Semi_Transparent.svg" %} alt="LOGO">
        <img class="main-menu__logo19" src={% static "icons/Logo_Semi_Transparent.svg" %} alt="LOGO">
        <img class="main-menu__logo20" src={% static "icons/Logo_Semi_Transparent.svg" %} alt="LOGO">

        <section class="certificate-form__container">
            <div class="form-book">
                <div class="half">
                    <h2>ЗАБРОНЮВАТИ ПОСЛУГУ</h2>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form1.media }}
                        {{ form1.as_p }}
                        <button type="submit">ЗАБРОНЮВАТИ</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <!-- Linking custom script -->
    <script src={% static "script.js" %}></script>
    <script src={% static "script1.js" %}></script>
    
{% endblock %}