{% extends 'base.html' %}
{% load static %}
{% block main %}

<div class="banner">
    <h1>
        {{ lifehack.name }}
    </h1>
</div>

<main>
        <div class="gallery">
            <div class="container swiper">
                <div class="card-wrapper">
                    <!-- Card slides container -->
                    <ul class="card-list swiper-wrapper">
                        {% for card in lifehack.cards.all %}
                            <li class="card-item swiper-slide">
                                <a href="{% url "home" %}" class="card-link">
                                    <img src="{{card.image.url}}" alt="{{lifehack.name}}" class="card-image">
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
            
                    <!-- Pagination -->
                    <div class="swiper-pagination"></div>
                
                    <!-- Navigation Buttons -->
                    <div class="swiper-slide-button swiper-button-prev"></div>
                    <div class="swiper-slide-button swiper-button-next"></div>
                </div>
            </div>
        </div>
        <div class="section-buttons">
            <a href="{% url "lifehacks" %}" class="button1">ПОВЕРНУТИСЬ ДО ЛАЙФХАКІВ</a>
        </div>
    </div>
    {% if user.username == "helentrip" %}
        <div class="section-buttons">
            <a href={% url "upload_lifehack_images" lifehack.pk %} class="button1">ЗАВАНТАЖИТИ ЗОБРАЖЕННЯ</a>
            <a href={% url "delete_lifehack" lifehack.pk %} class="button1">ВИДАЛИТИ ЛАЙФХАК</a>
        </div>
    {% endif %}
</main>
{% endblock %}