{% extends 'base.html' %}
{% load static %}
{% block main %}

<div class="slideshow">
    <div class="slideshow-item">
        <img src={% static "img/banner.jpg" %} alt="">
        <div class="slideshow-item-text">
            <h1>ДЯКУЄМО ЗА ПРИДБАННЯ ТУРУ!
                <br>
                МЕНЕДЖЕР ЗАТЕЛЕФОНУЄ ВАМ НАЙБЛИЖЧИМ ЧАСОМ
            </h1>
        </div>
    </div>
    <div class="slideshow-item">
        <img src={% static "img/banner2.jpg" %} alt="">
        <div class="slideshow-item-text">
            <h1>ДЯКУЄМО ЗА ПРИДБАННЯ ТУРУ!
                <br>
                МЕНЕДЖЕР ЗАТЕЛЕФОНУЄ ВАМ НАЙБЛИЖЧИМ ЧАСОМ
            </h1>
        </div>
    </div>
    <div class="slideshow-item">
        <img src={% static "img/banner3.jpg" %} alt="">
        <div class="slideshow-item-text">
            <h1>ДЯКУЄМО ЗА ПРИДБАННЯ ТУРУ!
                <br>
                МЕНЕДЖЕР ЗАТЕЛЕФОНУЄ ВАМ НАЙБЛИЖЧИМ ЧАСОМ
            </h1>
        </div>
    </div>
    <div class="slideshow-item">
        <img src={% static "img/banner4.jpg" %} alt="">
        <div class="slideshow-item-text">
            <h1>ДЯКУЄМО ЗА ПРИДБАННЯ ТУРУ!
                <br>
                МЕНЕДЖЕР ЗАТЕЛЕФОНУЄ ВАМ НАЙБЛИЖЧИМ ЧАСОМ
            </h1>      
        </div>
    </div>
</div>
    
{% endblock %}