{% extends 'base.html' %}
{% load static %}
{% block main %}

    <div class="banner">
        <h1>КОРИСНЕ</h1>
    </div>

    <br><br>

        <section class="section">
            
            <div class="small-card">
                <a href="{% url "documents" %}">
                <div class="small-card__inner-div">
                    <img class="small-card__ico" src="{% static "icons/passport.svg" %}" alt="Документи">
                    <div class="small-card__description">
                        <h3>ДОКУМЕНТИ</h3>
                        <hr>
                        <p>Перелік документів, необхідних для закоржонних туристичних подорожей</p>
                    </div>
                </div>
                </a>
            </div>

            <div class="small-card">
                <a href="{% url "lifehacks" %}">
                <div class="small-card__inner-div">
                    <img class="small-card__ico" src="{% static "icons/idea.svg" %}" alt="Лайфхаки">
                    <div class="small-card__description">
                        <h3>ЛАЙФХАКИ</h3>
                        <hr>
                        <p>Туристичні лайфхаки, завдяки яким ваші подорожі будуть ще більш приємними</p>
                    </div>
                </div>
                </a>
            </div>

            <div class="small-card">
                <a href="{% url "answers" %}">
                <div class="small-card__inner-div">
                    <img class="small-card__ico" src="{% static "icons/reply.svg" %}" alt="Лайфхаки">
                    <div class="small-card__description">
                        <h3>ВІДПОВІДІ</h3>
                        <hr>
                        <p>Відповіді на найбільн часті питання, що стосуються подорожей</p>
                    </div>
                </div>
                </a>
            </div>
        </section>
    </main>
    
{% endblock %}